{% extends "base.html" %}

{% block header %}
<header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'news:index' %}">News</a>
    </nav>
</header>
{% endblock header %}

{% block content %}
<article>
    {% if article.image %}
    <img class="img-fluid" height="200" width="200"
      src="{{ article.image.url }}" alt="{{ article.title }}">
    {% endif %}

    <h2>{{ article.title }}</h2>

    <p class="meta">
        By {{ article.author }} &mdash;
        <time datetime="{{ article.publication_date|date:'c' }}">
            {{ article.publication_date|date:"j F Y" }}
        </time>
    </p>

    <div class="content">
        {{ article.content|linebreaks }}
    </div>

    <a href="{% url 'news:index' %}">&larr; Back to News</a>
</article>
{% endblock %}
