{% extends "base.html" %}

{% block header %}
<header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'news:index' %}">News</a>
    </nav>
</header>
{% endblock header %}

{% block content %}
<section>
    {% for article in articles %}
    <article>
        {% if article.image %}
        <img class="img-square" height="200" width="200" src="{{ article.image.url }}" alt="{{ article.title }}">
        {% endif %}

        <h2><a href="{% url 'news:detail' article.pk %}">{{ article.title }}</a></h2>

        <p class="meta">
            By {{ article.author }} &mdash;
            <time datetime="{{ article.publication_date|date:'c' }}">
                {{ article.publication_date|date:"j F Y" }}
            </time>
        </p>
    </article>
    {% empty %}
    <p>No articles published yet.</p>
    {% endfor %}
</section>
{% endblock %}
